<br><br>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
      <div class="box-blue-round">
		<h1 class="centra">Editing contact</h1><br>

		<%= render 'form' %>
		<br><br>
	  </div>
    </div>
  </div>
</div>

<br>

<div class="centra">
	<%= link_to 'Show', [@contact.user, @contact] %> |
	<%= link_to 'Back', user_contacts_path(@contact.user) %>	
</div>
