<h1 class="centra">Editing contact</h1><br>

<%= render 'form' %>
<br>

<div class="centra">
	<%= link_to 'Show', [@contact.user, @contact] %> |
	<%= link_to 'Back', user_contacts_path(@contact.user) %>	
</div>
