<br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="box-blue-round">
		<h1 class="centra">Editing contact</h1><br>

		<%= render 'form' %>
		<br><br>
	  </div>
    </div>
  </div>
</div>

<br>

<div class="centra">
	<%= link_to 'Show', [@contact.user, @contact] %> |
	<%= link_to 'Back', user_contacts_path(@contact.user) %>	
</div>
