<br><br>

<div class="container">
	<h2 class="centra">Are you ready for LISTÍN!!! ?</h2><br>

	<!-- Carrousel -->


	<div class="row text-center">
		<img src="/assets/moviles.jpg" class="img-rounded" alt="Responsive image" style="width:70%;height:30%;padding-top:2px"><br>
	</div>



	<!-- Botón al user/index -->
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<br><%= link_to "users/index", users_path, method: :get, :class => 'btn btn-success btn-lg btn-block' %>		
		</div>
	</div>
</div>

<!--
<img src="/assets/phoneverde.png" alt="HTML tutorial" style="width:42px;height:42px;padding-top:2px"> -->