// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #A3DAB6;
}

.SuperUser {
	background-color: yellow;
}

.NormalUser {
}

.centra {
	text-align: center;
}

.col-centered{
  float: none;
  margin: 0 auto;
}


.table tbody tr:hover td {
  /*background-color: #66C285;*/
  /*background-color: #339e6b;*/
  background: linear-gradient(to bottom, #A3DAB6 0%, #337D4C 100%);
  /*background-color: #FFD633;*/
}



.table-striped > tbody > tr:nth-child(odd), .table-striped > tbody > tr:nth-child(n) {
  /*background-color: #B8B8B8;*/
  background-color: #7FE67F;
  border: solid 1px black;
  /*border-radius: 25px;*/
 
  td {
  border: solid 1px #A3DAB6;
  border-radius: 25px;
  }
  th {
  border: solid 8px #A3DAB6;
  border-radius: 25px;
  background-color: #337D4C;
  }
}

.opacidad {
  opacity: 0.92;
}

.myHeader {
  border-bottom-color: #2E9C53;
  border-bottom-width: 4px;
  border-radius: 0px 0px 60px 60px;
}

.myFooter {
  border-top-color: #2E9C53;
  border-top-width: 4px;
  border-radius: 60px 60px 0px 0px;
}

.border-green {
  border: solid 2px #2E9C53;
  border-radius: 5px;
  background-color: #66C285;
}

.box-green2 {
  border: solid 2px #66C285;
  border-radius: 5px;
  background-color: #66C285;
  margin-top: 4px;
}

.centra-derecha {
  text-align: left;
}

.green-back {
  background-color: #A3DAB6;
}

.noventa {
  width: 90%;
}


/*.table-striped tbody tr:nth-child(odd):hover td {
   background-color: #F9F9F9;
}*/

/*
.table-hover tbody tr:hover td {
  background-color: #FFFFFF;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(n) > th { *//*linea impar*/
 /* background-color: #999999;
  border: solid 1px #B8B8B8;
  border-radius: 25px;
}*/
/*
.table-striped > tbody > tr:nth-child(even) > td { *//*linea par*/
 /* background-color: #CCCCCC;
  border: solid 1px #B8B8B8;
  border-radius: 25px;*//*
}*/