// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #CEEBF3;
}

.SuperUser {
	background-color: yellow;
}

.NormalUser {
}

.centra {
	text-align: center;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.table tbody tr:hover td {
  background-color: #72A1BB;
}

.table-striped > tbody > tr:nth-child(odd), .table-striped > tbody > tr:nth-child(n) {
  /*background-color: #B8B8B8;*/
  background-color: #8ED6EC; /*color lineas impares (no cuenta cabeza de tabla) */

 
  td {
  border: solid 1px #CEEBF3;
  border-radius: 25px;
  }
  th {
  border: solid 2px #CEEBF3;
  border-radius: 25px;
  background-color: #5AB8EB; /* color cabeza de tabla 428bca*/
  }
}

.opacidad {
  opacity: 0.92;
}

.myHeader {
  border-bottom-color: #5bc0de;
  border-bottom-width: 4px;
  border-radius: 0px 0px 60px 60px;
}

.myFooter {
  /*border-top-color: #2E9C53;*/
  border-top-color: #5bc0de; /*un pokito mas claro #8ED6EC y mas oscuro #428bca */
  border-top-width: 4px;
  border-radius: 60px 60px 0px 0px;
}

.box-blue-round { /* caja azul con 2 esquinas redondeadas para notificaciones, listar hijos, etc... */
  border: solid 1px #CCE7F5;
  border-radius: 80px 0px 80px 0px;
  background-color: #8ED6EC;
  margin-top: 12px;
  -webkit-box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.75);
}

.centra-derecha {
  text-align: left;
}

.green-back {
  background-color: #A3DAB6;
}

.noventa { /* para el listado de hijos q vaya un poco a la izq y se centre respecto del div en el q está */
  width: 90%;
}

.text-left {
  text-align: left;
}

.select-date { /* para q en el _form de user salgan los 3 campos de fechaNac en la misma linea */
  display: inline;
  width: 32%;
}

/*.white-box-link {
  border: solid 1px #66C285;
  border-radius: 80px 0px 80px 0px;
  background-color: white;
}*/

.notification-box {
  position: absolute;
  z-index: 50000;
  top: 8%;
  left: 4%;
}

.logo-top {
  margin-top: 15%;
}

.blue {
  color: #5AB8EB;
}
.logo-bottom {
  margin-bottom: -10%;
}